*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background: wheat;
}

.cardlist {
  width: 90vw;
  max-width: 1170px;
  margin: 3rem auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  
}

.card{
  border-radius: 10px;
  background: #fff;
  padding: 1rem 2rem;
}
